html{
    margin:0 auto;
}
body{
	width: 960px;
	margin: 20px auto;
    font-family:'Roboto',sans-serif,Arial,"Microsoft YaHei";
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
h1.big{
	font-size: 6em;
}

sup{
	color: #191970;
	font-size: 30px;
	
}
#timeline:hover{
	color: #DC143C;
}
small{
	font-size: 60px;
	color: #aaa;
}
.main{
    margin-top:50px;
    text-align:center;
}
.inner{
	
    margin-top:20px;
    font-size:1.45em;color:#999;
}
.description{
	color: #ccc;
}
#blog,#email,#webo{
	text-shadow: 0px 1px 0px #ccc;
}
#blog:hover,#email:hover,#weibo:hover{
	border-bottom:#ff6c6d solid 2px;

}


.foot{
  
 

    margin-top:200px;
}